@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@plugin 'tailwind-scrollbar' {
  nocompatible: true;
  preferredstrategy: "pseudoelements";
}

@theme {
  --breakpoint-2xl: 86rem;

  --font-poppins: "Poppins", sans-serif;

  --color-custom-black: #000;
  --color-custom-white: #ffffff;

  --color-custom-gray-25: #fbfefe;
  --color-custom-gray-50: #f6fafb;
  --color-custom-gray-75: #fbfbfb;
  --color-custom-gray-100: #ccd3da;
  --color-custom-gray-150: #eef5f8;
  --color-custom-gray-200: #e5f0f4;
  --color-custom-gray-300: #9aa7b6;
  --color-custom-gray-400: #8091a3;
  --color-custom-gray-700: #35506d;
  --color-custom-gray-800: #1b3a5a;
  --color-custom-gray-850: #616161;
  --color-custom-gray-900: #022448;
  --color-custom-gray-950: #a9ccda;

  --color-custom-blue-50: #e9f2fb;
  --color-custom-blue-100: rgba(76, 131, 190, 0.07);
  --color-custom-blue-700: #3373b5;
  --color-custom-blue-800: #338be7;
  --color-custom-blue-850: #1961ac;
  --color-custom-blue-900: #0050a2;

  --color-custom-brand-50: rgba(135, 193, 76, 0.07);
  --color-custom-brand-600: #aad481;
  --color-custom-brand-650: rgba(135, 193, 76, 0.07);
  --color-custom-brand-800: #92c75e;
  --color-custom-brand-900: #6eac31;

  --color-custom-green-700: #359977;

  --color-custom-red-800: #db4060;
}

@layer base {
  * {
    @apply box-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-poppins font-normal text-[14px] leading-[19px] bg-custom-white text-custom-gray-800;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium;
  }

  a {
    @apply inline-block font-medium;
  }

  img,
  svg {
    @apply w-full h-full object-contain;
  }

  button {
    @apply cursor-pointer;
  }

  label {
    @apply block;
  }

  input {
    @apply w-full h-full;
  }
}

@layer components {
  .font--36 {
    @apply text-[28px] leading-[30px] md:text-[36px] md:leading-[32px];
  }

  .font--30 {
    @apply text-[24px] leading-[28px] md:text-[30px] md:leading-[36px];
  }

  .font--20 {
    @apply text-[20px] leading-[26px];
  }

  .font--18 {
    @apply text-[16px] leading-[20px] md:text-[18px] md:leading-[24px];
  }

  .font--16 {
    @apply text-[14px] leading-[19px] md:text-[16px] md:leading-[20px];
  }

  .font--14 {
    @apply text-[14px] leading-[19px];
  }

  .font--12 {
    @apply text-[12px] leading-[14px];
  }

  .flex--center {
    @apply flex items-center justify-center;
  }

  .custom__btn {
    @apply w-fit flex items-center justify-center gap-2 h-11 py-[5px] px-2.5 rounded-[10px] font-medium bg-custom-blue-900 text-custom-white transition-all duration-200 ease-in-out hover:bg-custom-blue-900/90;
  }

  .custom__btn--sm {
    @apply px-[10px] rounded-lg h-[34px];
  }

  .custom__btn--secondary {
    @apply bg-custom-brand-900 gap-[10px] hover:bg-custom-brand-900/90;
  }

  .custom__btn--blue {
    @apply bg-custom-blue-850 hover:bg-custom-blue-850/90;
  }

  .custom__select {
    @apply appearance-none w-full bg-custom-white  pl-2 pr-8 h-[35px] text-[14px] leading-[19px] font-medium font-poppins border border-custom-brand-900 focus:outline-none text-custom-gray-800 rounded-[10px];
  }

  .custom__select-icon {
    @apply absolute block w-4 h-4 pointer-events-none top-1/2 -translate-y-1/2 right-2;
  }

  .blur--protected {
    @apply relative opacity-50 
           after:content-[''] after:absolute after:top-1/2 after:-translate-y-1/2 after:left-0 after:z-20  
           after:w-full after:h-[110%] after:backdrop-blur-[7px];
  }

  .blur--protected-table {
    @apply relative rounded-[10px]  
           after:content-[''] after:absolute after:top-1/2 after:-translate-y-1/2 after:left-0 after:z-20  
           after:w-full after:h-full after:rounded-[10px] after:backdrop-blur-[5px];
  }
}

/* Custom Code */
.custom__slider-bg {
  background-image: url("/images/slider-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.custom__glass-bg {
  background: linear-gradient(
    to top left,
    rgba(255, 255, 255, 0.2) -10%,
    rgba(255, 255, 255, 1) 80%
  );

  backdrop-filter: blur(60.37px);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.slick-dots {
  width: auto !important;
  left: auto;
  bottom: 13px !important;
  right: 0;
  z-index: 10;
}

.slick-dots ul li {
  width: auto;
  height: auto;
  margin: 0;
}

.slick-dots .slick-active > div {
  width: 10px;
  height: 10px;
  background: #022448;
}

.unlock__card {
  background: linear-gradient(
    135deg,
    rgba(76, 132, 190, 0.05) 0%,
    rgba(104, 168, 220, 1) 32%,
    rgba(158, 206, 111, 1) 48%,
    rgba(104, 168, 220, 1) 79%,
    rgba(76, 132, 190, 0.05) 100%
  );
}

.unlock__card--shadow {
  box-shadow: 0px 60px 80px 0px rgba(2, 36, 72, 0.15);
}

/* Custom Code */
